{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
        <h1>Dashboard</h1>
        <h3>Welcome <span class="text-muted"> {{user.username}}</h3></span>
        <p>We hope that you're having a great day. Check out your scores!</p>

<div class="row"> <!--SERVICE SECTION -->
        <h2 class="text-center">Quality of Service Received</h2>
        <p class="lead text-center">This is a measure of how your customers rate the service received from the team. This is a net measure. That means we take the amount of people who rate 5/5, and subtract the amount that rate 1/5. This gives the net score.</p>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    Service Score
                </h5>
                <h6 class="card-subtitle">
                    Month to date
                </h6>
                {% if mservice > servicetarget %}
                <h2 class="text-success">{{mservice}}% :)</h2>
                {% else %}
                <h2 class="text-danger">{{mservice}}% :(</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    Service Score
                </h5>
                <h6 class="card-subtitle">
                    Year to date
                </h6>
                {% if yservice > servicetarget %}
                <h2 class="text-success">{{yservice}}% :)</h2>
                {% else %}
                <h2 class="text-danger">{{yservice}}% :(</h2>
                {% endif %}
            </div>
        </div> 
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    Variance to Target
                </h5>
                <h6 class="card-subtitle">
                    Variance Year to date
                </h6>
                {% if servicevariance > 0  %}
                <h2 class="text-success">{{servicevariance}}%</h2>
                {% else %}
                <h2 class="text-danger">{{servicevariance}}%</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                Service Target
            </h5>
            <h6 class="card-subtitle">
                Year to date
            </h6>
            <h2>{{servicetarget}}%</h2>
        </div>
    </div>
    </div>  
</div> <!-- row end-->


<div class="row"> <!--CLEANLINESS SECTION-->
    <h2 class="text-center">How clean is your hotel? </h2>
    <p class="lead text-center">This is a measure of how your customers rate the cleanliness of your hotel. This is a net measure. That means we take the amount of people who rate 5/5, and subtract the amount that rate 1/5. This gives the net score.</p>

<div class="col-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                Cleanliness Score
            </h5>
            <h6 class="card-subtitle">
                Month to date
            </h6>
            {% if mcleanliness > cleanlinesstarget %}
            <h2 class="text-success">{{mcleanliness}}% :)</h2>
            {% else %}
            <h2 class="text-danger">{{mcleanliness}}% :(</h2>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                Cleanliness Score
            </h5>
            <h6 class="card-subtitle">
                Year to date
            </h6>
            {% if ycleanliness > cleanlinesstarget %}
            <h2 class="text-success">{{ycleanliness}}% :)</h2>
            {% else %}
            <h2 class="text-danger">{{ycleanliness}}% :(</h2>
            {% endif %}
        </div>
    </div> 
</div>
<div class="col-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
                Cleanliness Variance
            </h5>
            <h6 class="card-subtitle">
                Variance Year to date
            </h6>
            {% if cleanlinessvariance > 0  %}
            <h2 class="text-success">{{cleanlinessvariance}}%</h2>
            {% else %}
            <h2 class="text-danger">{{cleanlinessvariance}}%</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">
            Service Target
        </h5>
        <h6 class="card-subtitle">
            Year to date
        </h6>
        <h2>{{cleanlinesstarget}}%</h2>
    </div>
</div>
</div>

</div> <!-- row ends-->


<div class="row">
    <h2>Team Exceeds Expectations</h2>
    <p class="lead">We ask did our team members exceed your expectations? This is an excellent measure which shows a percentage of how often we exceed our guests expectation. This is a simple yes or no question. The company average is 40%. How does your team compare? Green if your score is greater than company average and red if it's less than company average </p>
<div class="col-md-6">

<div class="card text-center">
    <div class="card-body">
        <div class="card-title">
            Team Exceeds Expectations 
        </div>
        <div class="card-subtitle">
            Period to date
        </div>
        {% if mtmexceed > 40 %}
        <h1 class="text-success">{{mtmexceed}}%</h1>
        {% else  %}
        <h1 class="text-danger">{{mtmexceed}}%</h1>
        {% endif %}
    </div>
</div>
</div>
<div class="col-md-6">
    <div class="card text-center">
        <div class="card-body">
            <div class="card-title">
                Team Exceeds Expectations 
            </div>
            <div class="card-subtitle">
                Year to date
            </div>
            {% if ytmexceed > 40 %}
            <h1 class="text-success">{{ytmexceed}}%</h1>
            {% else  %}
            <h1 class="text-danger">{{ytmexceed}}%</h1>
            {% endif %}
        </div>
    </div>
</div>
</div><!-- row end-->



<div class="row">

    <div class="col-md-4 mt-2">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-title">
                    Total This period
                </div>
                <h1>{{mresponses}}</h1>
                <div class="card-title">
                    Total This year
                </div>
                <h1>{{yresponses}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>Hello --- We will insert a chart here not to worry!</p>
    </div>
</div>

</div> <!-- container end-->

<p>Number of responses: {{yresponses}} </p>
<p>NPS {{ ynps }} % </p>
<p>Dinner Quality Score {{ ydinnerqual }} % </p>
<p>Dinner Service Score {{ ydinnerservice }} % </p>
<p>Breakfast Quality Score {{ ybreakfastqual }} % </p>
<p>Breakfast Service Score {{ ybreakfastservice }} % </p>
<p>Team members exceed expectations {{ytmexceed}}% of the time</p>




<h1>Feedback comments</h1>

{% if feedback %}

<div class="row"><!--  Row Begins-->
    {% for answer in feedback %}
 
<div class="col-md-6">
<div class="card">
    <div class="card-body text-center">
        <p>{{ answer.anyfeedback }}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> Service: {{answer.service}} </li>
            <li class="list-group-item"> Cleanliness: {{answer.cleanliness}} </li>
            <li class="list-group-item"> Team Exceed Expectations: {{answer.tmexceed}} </li>
        </ul>
    </div>
</div>
</div>

    {% endfor %}

</div><!-- row ends-->
{% endif %}


</div>

{% endblock %}



